
<!-- Modal Header -->
<div class="container mt-3">
	<div class="card">
		<div class="modal-header">
			<h1 class="modal-title">Edit Level Lokasi</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>

		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Lokasi*</label> <select
							id="sbLok" class="form-select mb-3">
							<option selected="">--Pilih Lokasi--</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Dokter</label> <input id="iNmDoc"
							class="form-control form-control-lg" type="text" name="name"
							placeholder="Masukan nama lokasi" />
					</div>
					<div class="mb-3">
						<label class="form-label">Spesialisasi*</label> <select
							id="sbSpec" class="form-select mb-3">
							<option>--Pilih Spesialisasi--</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Tindakan Medis</label> <select
							id="sbMed" class="form-select mb-3">
							<option></option>
						</select>
					</div>
					<div>
						<button type="button" id="btnSimpanEdit"
							class="btn btn-lg btn-primary">Cari</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="caridokter/caridokter.js"></script>