<body>
<div class="container">
	<div class="wrapper">
		<div class="main">
			<div class="container my-5">
				<h2>Hubungan Pasien</h2>

				<div class="d-flex justify-content-between my-0.8 headerTable">
					<input type="text" id="inBloodCari" class="iSearch"
						placeholder="Search...">
					<button class="btn btn-primary" id="btntmbh">
						<i class="fas fa-plus"></i> Add
					</button>
				</div>

				<table class="table">
					<thead class="table table-primary">
						<tr>
							<th class="text-center w-25">Nama</th>
							<th class="text-center w-25">Action</th>
						</tr>
					</thead>
					<tbody id="tb2">

					</tbody>

				</table>

				<!-- The Modal -->
				<div class="modal" id="modalHubungan">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">

							<!-- Modal body -->
							<div class="isiModalHubungan container"></div>


						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="/hubungan/hubungan.js"></script>
