<input type="search" id="cari" placeholder="Cari alamat atau nama penerima">
<span> Urutkan</span>
<select class="sortby">
</select>
<div class="container ">
	<table class="table table-hover" style="width: 100%">
			<tr>
				<td style="width: 10%"><input type="button" class="btn btn-outline-danger"
					value="Hapus"></td>
				<td style="width: 5%"></td>
				<td style="width: 85%" align="right"><input type="button" class="sorting"
					value="A-Z"> 
				| <input type="number" class="col-sm-1" value="10"> | <input type="button" class="btn btn-outline-primary add"
					value="Tambah Data"></td>
			</tr>
	</table>
	<table class="table table-hover" style="width: 100%">
	<tbody class="tb1"></tbody>
	</table>
</div>
<!-- The Modal -->
<div class="modal" id="modaltabalamat">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		
			<!-- Modal body -->
			<div class="isimodaltabalamat"></div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/tabalamat/tabalamat.js"></script>