<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Edit Alamat</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Label Alamat*</label> <input
							class="form-control form-control-lg" type="text" id="ilabel"
							placeholder="Contoh : Rumah, Kantor">
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Penerima*</label> <input
							class="form-control form-control-lg" type="text" id="irecipient">
					</div>
					<div class="mb-3">
						<label class="form-label">Nomor HP Penerima*</label> <input
							class="form-control form-control-lg" type="text"
							id="irecipientphonenumber">
					</div>
					<div class="mb-3">
						<label class="form-label">Kecamatan/Kota*</label> <input
							class="form-control form-control-lg" type="text" id="ilocationid"
							placeholder="Cari Kecamatan/ Kota">
					</div>
					<div class="mb-3">
						<label class="form-label">Kode Pos</label> <input
							class="form-control form-control-lg" type="text" id="ipostalcode">
					</div>
					<div class="mb-3">
						<label class="form-label">Alamat*</label>
						<textarea rows="" cols="" class="form-control" id="iaddress"
							placeholder="Form isian"></textarea>
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="button" class=" btn btn-primary btnsimpanupdate ">Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/tabalamat/update.js"></script>