<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Verifikasi Email</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<div class="align-middle mt-3">

		<div class="mb-4 row">
			<div class="mb-3">
				<p class="p1 text-muted">Masukkan kode OTP yang dikirimkan melalui email anda</p>
			</div>
			<div class="">
				<input type="text" class="form-control text-center" id="iotp">
				<div id="otpSalah" class="form-text p1" style="color:rgb(255, 0, 0);">*Kode OTP salah</div>
				<div id="otpKadaluarsa" class="form-text p1" style="color:rgb(255, 0, 0);">*Kode OTP sudah kadaluarsa, silahkan kirim
					ulang untuk mendapat OTP baru</div>
				<a class="link-primary p2" id="returntoemailver">Gunakan email lain</a>
			</div>
			<div class="mb-3 text-center">
				<p></p>
				<p class="p1 text-muted " id="count"></p>
				<button type="button" class="btn btn-outline-secondary" id="btnresendotp">Kirim ulang OTP</button>
			</div>
		</div>

		<div class="mb-4 row ">
			<div class="col-sm-8 text-center ">
				
				<button type="button" class=" btn btn-primary bt-otp ">Konfirmasi OTP</button>
			</div>
		</div>


	</div>
</div>


</body>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/profile/otpbaru.js"></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->

</html>