	
 <div class="modal-header">
        <h5 class="modal-title">Add Bank</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
 </div>
 
<div class="container mt-3">
<table class="table table-sm align-middle">
		
		<tr>
			<td>Name(*) : </td>
			<td> <input type="text" id="iName"> </td>
		</tr>
		<tr>
			<td>Kode (*): </td>
			<td> <input type="text" id="iKode"> </td>
		</tr>
		<tr>
				<td> <input id="simpan" type="button" class="btn btn-primary" value="save"> 
				 <input id="tkembali" type="button" class="btn btn-danger" value="kembali"></td>
		</tr>
		
</table>
    <div id="bankHelp" class="form-text p1" style="color:Tomato;">*Nama Bank Telah terdaftar</div>
       <div id="bankHelp2" class="form-text p1" style="color:Tomato;">*Nama Bank belum terisi</div>
	<div id="kodeHelp" class="form-text p1" style="color:Tomato;">*Kode belum terisi</div>
</div>


<script type="text/javascript" src="/bank/add.js"></script>
