
<div class="container mt-3">

<div class="mx-auto">
<h1>Bank </h1>
<input type="button" class="btn btn-primary" value="Add" id="tadd1">
<input type="text" id="inBankCari">
</div>
<div class="container mt-3" id="tb1">



</div>

<!-- The Modal -->
		<div class="modal" id="modalBank" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog  modal-dialog-centered">
		    <div class="modal-content">
		    
		      <!-- Modal body -->
		      <div class="isiModalBank modal-body">
		        
		      </div>
		 
		    </div>
		  </div>
		</div>

</div>




<!--  <script src="jquery-3.6.3.min.js"></script>  -->
<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script> -->
<!-- script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script> -->
<script type="text/javascript" src="/bank/bank.js"></script>
<!--<script src="js/app.js"></script> -->
